* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}
body{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.25),rgba(0,0,0, 0.5)),url('../assets/pexels-maxyne-barcel-10402282\ 1.png');
    height:100 vh;
    width: 100 vw;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 55px;
    font-weight: 700;
    font-size:20px;
    padding: 0px 60px;

    
}
nav button{
    margin-right: 60px;
    padding: 12px 40px;
    border: none;
    background-color: #ff505f;
    color: white;
    cursor: pointer;
    line-height: 30px;
    font-size:24px;
    font-style: normal;
}

nav img{
    margin: 5px 0px 0px 10px;
}

nav ul{
    display: flex;
    justify-content: space-between;
}
nav ul li {
    list-style: none;
    color: #ffc233;
}
a{
    list-style: none;
    text-decoration: none;
    color: #ffc233;
    margin: 2px 20px 1px 2px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80% ;
}
h1{
    color: #ffc233;
    margin:40px 0px;
    padding: 10px;
    font-size: 80px;
    font-weight: 900;
}

main button{
    margin-right: 60px;
    padding: 20px 60px;
    border: none;
    background-color: #ff505f;
    color: white;
    cursor: pointer;
    line-height: 30px;
    font-size:24px;
    font-style: normal;
}

main img {
    /* display: flex;
    justify-content: end;
    margin-right: 10px;
    margin-top: -60px; */
    justify-content: end;
    margin:-180px 10px 0px 800px;
    height:187px;
}